# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database
*.sqlite
*.db

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Go
backend-go/bin/
backend-go/vendor/

# Frontend
frontend-app/node_modules/
frontend-app/dist/
frontend-app/.env
